@media (max-width: 767px) {
  .fa-responsive {
    font-size: 1em; }
  .sm-center-text {
    text-align: center; } }

@media (min-width: 768px) {
  .fa-responsive {
    font-size: 2em; } }

.btn-dl {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.bg-image {
  background-image: url("../img/profile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 300px; }

.title-header {
  background-color: #999999;
  display: flex;
  align-items: center;
  color: #f8f8f8; }

.title-header-dl {
  background-color: #777777;
  color: #f8f8f8; }

.experience-header {
  background-color: #777777;
  display: flex;
  align-items: center;
  color: #f8f8f8; }

.experience-header-dl {
  background-color: #555555;
  color: #f8f8f8; }

.btn-nav {
  width: 100%;
  height: 100%;
  border-radius: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column; }

.btn-home {
  color: white;
  background-color: #1acb9c;
  border-color: #1acb9c; }
  .btn-home:hover {
    color: white;
    background-color: #149e79;
    border-color: #139572; }
  .btn-home:focus, .btn-home.focus {
    box-shadow: 0 0 0 2px rgba(26, 203, 156, 0.5); }
  .btn-home.disabled, .btn-home:disabled {
    background-color: #1acb9c;
    border-color: #1acb9c; }
  .btn-home:active, .btn-home.active,
  .show > .btn-home.dropdown-toggle {
    color: white;
    background-color: #149e79;
    background-image: none;
    border-color: #139572; }

.bg-home {
  background-color: #1acb9c;
  border-radius: 0px !important;
  color: white; }

.btn-resume {
  color: white;
  background-color: #3498db;
  border-color: #3498db; }
  .btn-resume:hover {
    color: white;
    background-color: #217dbb;
    border-color: #2077b2; }
  .btn-resume:focus, .btn-resume.focus {
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5); }
  .btn-resume.disabled, .btn-resume:disabled {
    background-color: #3498db;
    border-color: #3498db; }
  .btn-resume:active, .btn-resume.active,
  .show > .btn-resume.dropdown-toggle {
    color: white;
    background-color: #217dbb;
    background-image: none;
    border-color: #2077b2; }

.bg-resume {
  background-color: #3498db;
  border-radius: 0px !important;
  color: white; }

.btn-certifs {
  color: white;
  background-color: #9b59b6;
  border-color: #9b59b6; }
  .btn-certifs:hover {
    color: white;
    background-color: #804399;
    border-color: #7a4092; }
  .btn-certifs:focus, .btn-certifs.focus {
    box-shadow: 0 0 0 2px rgba(155, 89, 182, 0.5); }
  .btn-certifs.disabled, .btn-certifs:disabled {
    background-color: #9b59b6;
    border-color: #9b59b6; }
  .btn-certifs:active, .btn-certifs.active,
  .show > .btn-certifs.dropdown-toggle {
    color: white;
    background-color: #804399;
    background-image: none;
    border-color: #7a4092; }

.bg-certifs {
  background-color: #9b59b6;
  border-radius: 0px !important;
  color: white; }

.btn-portfolio {
  color: white;
  background-color: #e67e22;
  border-color: #e67e22; }
  .btn-portfolio:hover {
    color: white;
    background-color: #bf6516;
    border-color: #b66015; }
  .btn-portfolio:focus, .btn-portfolio.focus {
    box-shadow: 0 0 0 2px rgba(230, 126, 34, 0.5); }
  .btn-portfolio.disabled, .btn-portfolio:disabled {
    background-color: #e67e22;
    border-color: #e67e22; }
  .btn-portfolio:active, .btn-portfolio.active,
  .show > .btn-portfolio.dropdown-toggle {
    color: white;
    background-color: #bf6516;
    background-image: none;
    border-color: #b66015; }

.bg-portfolio {
  background-color: #e67e22;
  border-radius: 0px !important;
  color: white; }

.btn-contact {
  color: white;
  background-color: #e74c3c;
  border-color: #e74c3c; }
  .btn-contact:hover {
    color: white;
    background-color: #d62c1a;
    border-color: #cd2a19; }
  .btn-contact:focus, .btn-contact.focus {
    box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.5); }
  .btn-contact.disabled, .btn-contact:disabled {
    background-color: #e74c3c;
    border-color: #e74c3c; }
  .btn-contact:active, .btn-contact.active,
  .show > .btn-contact.dropdown-toggle {
    color: white;
    background-color: #d62c1a;
    background-image: none;
    border-color: #cd2a19; }

.bg-contact {
  background-color: #e74c3c;
  border-radius: 0px !important;
  color: white; }

.btn-blog {
  color: white;
  background-color: #000000;
  border-color: #000000; }
  .btn-blog:hover {
    color: white;
    background-color: black;
    border-color: black; }
  .btn-blog:focus, .btn-blog.focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); }
  .btn-blog.disabled, .btn-blog:disabled {
    background-color: #000000;
    border-color: #000000; }
  .btn-blog:active, .btn-blog.active,
  .show > .btn-blog.dropdown-toggle {
    color: white;
    background-color: black;
    background-image: none;
    border-color: black; }

.bg-blog {
  background-color: #000000;
  border-radius: 0px !important;
  color: white; }

.btn-wrap {
  white-space: normal !important; }

.footer {
  padding: 20px 0px;
  background-color: black;
  color: white; }

.timeline-item {
  padding: 2em 1em .1em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 10px;
  border-left: 2px solid rgba(0, 0, 0, 0.3); }
  .timeline-item p {
    font-size: .8em; }
  .timeline-item::before {
    content: attr(date-from) " to " attr(date-to);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: .7em; }
  .timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -6px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white; }

.skill-img {
  height: 100px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

.card-img-parent {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

.carousel {
  height: 360px;
  background-color: black; }
  .carousel .carousel-item {
    height: 360px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }

#carousel_btn {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.blog-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

.row-content {
  padding: 20px 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 300px; }

dt, dd {
  display: block;
  float: left;
  margin-top: 5px; }

dt {
  clear: both; }
