$title-header-bg: #999999;
$title-header-dl-bg: #777777;
$exp-header-bg: #777777;
$exp-header-dl-bg: #555555;
$background-color-home: #1acb9c;
$background-color-resume: #3498db;
$background-color-certif: #9b59b6;
$background-color-portfolio: #e67e22;
$background-color-contact: #e74c3c;
$background-color-blog: #000000;

@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss"; 

// ====== mixins declaration

@mixin no-padding-left-right {
    padding-left: 0px;
    padding-right: 0px;
}

@mixin no-padding-top-bot {
    padding-top: 0px;
    padding-bottom: 0px;
}

@mixin jumbotron-custom {
    border-radius: 0px !important;
    color: white;
}

@mixin fullsize-icon-button {    
    width: 100%;
    height: 100%;
    border-radius: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin bg-no-repeat-center($bg-size) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $bg-size;
}

// ====== media breakpoints for custom classes

@include media-breakpoint-down(sm){
    .fa-responsive {
        font-size: 1em;
    }

    .sm-center-text {
        text-align: center;
    }
}

@include media-breakpoint-up(md){
    .fa-responsive {
        font-size: 2em;
    }
}

// ====== header

.btn-dl {
    @include fullsize-icon-button();
    color: white;
}

.bg-image {
    background-image: url('../img/profile.png');
    @include bg-no-repeat-center(cover);
    height: 300px;
}

.title-header {
    background-color: $title-header-bg;
    display: flex;
    align-items: center;
    color: #f8f8f8;
}

.title-header-dl {
    background-color: $title-header-dl-bg;
    color: #f8f8f8;
}

.experience-header {
    background-color: $exp-header-bg;
    display: flex;
    align-items: center;
    color: #f8f8f8;
}

.experience-header-dl {
    background-color: $exp-header-dl-bg;
    color: #f8f8f8;
}

// ====== navigation header

.btn-nav {
    @include fullsize-icon-button();
    @include no-padding-left-right();
    @include no-padding-top-bot();
    flex-direction: column;
}

.btn-home {
    @include button-variant(white, $background-color-home, $background-color-home)
}

.bg-home {
    background-color: $background-color-home;
    @include jumbotron-custom();
}

.btn-resume {
    @include button-variant(white, $background-color-resume, $background-color-resume)
}

.bg-resume {
    background-color: $background-color-resume;
    @include jumbotron-custom();
}

.btn-certifs {
    @include button-variant(white, $background-color-certif, $background-color-certif)
}

.bg-certifs {
    background-color: $background-color-certif;
    @include jumbotron-custom();
}

.btn-portfolio {
    @include button-variant(white, $background-color-portfolio, $background-color-portfolio)
}

.bg-portfolio {
    background-color: $background-color-portfolio;
    @include jumbotron-custom();
}

.btn-contact {
    @include button-variant(white, $background-color-contact, $background-color-contact)
}

.bg-contact {
    background-color: $background-color-contact;
    @include jumbotron-custom();
}

.btn-blog {
    @include button-variant(white, $background-color-blog, $background-color-blog)
}

.bg-blog {
    background-color: $background-color-blog;
    @include jumbotron-custom();
}

// ====== footer
.btn-wrap {
    white-space: normal !important;
}

.footer {
    padding: 20px 0px;
    background-color: black;
    color: white;
}

// ====== index.html related styles

// timeline
$border-color: rgba(black, .3);

.timeline-item {
	padding: 2em 1em .1em 2em;
	position: relative;
    color: rgba(black, .7);
    margin-left: 10px;
    border-left: 2px solid $border-color;
    
    p {
        font-size: .8em;
    }
    
    // date
	&::before {
		content: attr(date-from) " to " attr(date-to);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: .7em;
	}

    // circles
	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -6px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: white;
	}
}

.skill-img {
    height: 100px;
    margin-bottom: 20px;
    @include bg-no-repeat-center(contain);
}

// ====== resume.html related styles

// ====== certification.html related styles

// certificate cards
.card-img-parent {
    height: 150px;
    @include bg-no-repeat-center(contain);
}

// ====== portfolio.html related styles

// ====== blog.html related styles
.carousel {
    height: 360px;
    background-color: black;

    .carousel-item {
        height: 360px;
        @include bg-no-repeat-center(contain);
    }
}

#carousel_btn {
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.blog-img {
    @include bg-no-repeat-center(contain);
}

// ====== misc and general

.row-content {
    padding: 20px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 300px;
}

dt, dd { 
    display: block; 
    float: left; 
    margin-top: 5px; 
}

dt { clear: both; }